<div class="container-fluid py-5">
  <div class="row ">
    <div class="col-4">
      <h1>What's New On CoWIN?</h1>
    </div>

    <div class="col-8">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item ">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>
                You can download your vaccination certificate for International Travel
                NEW</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              This new feature allows fully vaccinated citizens to update existing photo identity to passport number and
              date of birth to get International Travel Certificate.

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <!--heading-2-->
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong> You can register as a foreign national on CoWIN and get vaccinated</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              New feature has been provided for foreign national. You can easily be vaccinated just by providing your
              basic details. If you have been administered with Dose 1 vaccine in foreign country, you'll have provide
              it's details to Vaccinator while going for Vaccination.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <!--heading-3-->
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Citizens can link their passports to CoWIN issued certificate by raising an issue in their
                accounts</strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              This is a new feature provided where you can link your passport by entering Passport number. In order to
              link your passport to the certificate you need to login into your CoWIN portal and then raise an issue to
              get your passport linked by clicking on "Add Passport Details to my vaccination certificate"
            </div>
          </div>
        </div>
        <div class="accordion-item ">
          <!--heading-4-->
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapsefour">
              <strong>
                Introducing “Raise an Issue” to CoWIN for all your vaccine certificate and account related issues
              </strong>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              You can now get all your Issues related to your Vaccine Certificate at one place. All you need to do is to
              login to your CoWIN portal and click on "Raise an Issue" . Multiple Issue options are provided. You can
              raise your concerned issues accordingly.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <!--heading-5-->
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>
                Check your eligibility for Dose 2 by signing in on CoWIN with your registered mobile number
              </strong>
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              Citizens administered with dose 1 can now check their eligibility for Dose 2 by performing a single step.

              "Login to your CoWIN portal" and there you have your eligibility mention next to your name, highlighted as
              "No. of Days left for Dose 2".
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
