<div class="container-fluid ">
    <div class="row bg-dark text-light py-5" style="font-size: 13px;">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <b > Vaccination Services</b>
                    <p >Register Members</p>
                    <p>Search Vaccination Centers</p>
                    <p>Book Vaccination Slots</p>
                    <p>Manage Appointment</p>
                    <p>Download Certificate</p>
                </div>
                <div class="col-4">
                    <b> Platforms</b>
                    <p>CoWIN International</p>
                    <p>Vaccinator</p>
                    <p>Department Login</p>
                    <p>Verify Certificates</p>
                    <p>Vaccination Statistics</p>
                </div>
                <div class="col-4">
                    <b>Resources</b>
                    <p>How To Get Vaccinated</p>
                    <p> Dos and Don'ts</p>
                    <p>Overview</p>
                    <p>API Guidelines</p>
                    <p>Grievance Guidelines</p>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                   <b> Support</b>
                    <p> Frequently Asked Questions</p>
                        <p>  Certificate Corrections</p>
                </div>
                <div class="col-6">
                  <b> Contact Us</b> 
                    <p> Helpline: +91-11-23978046 (Toll Free - 1075 )</p> 
                        <p> Technical Helpline: 0120 4473222</p>
                   
                    </div>                
            </div>
            
        </div>
        <div class="row">
            <div class="col-3">
                <p>Copyright © 2021 CoWIN. All Rights Reserved</p>
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3">
                <div class="col-6">  <p>Terms of Service</p></div>
              <div class="col-6">   <p>privacy policy</p> </div>
            </div>
        </div>
    </div>
</div>