<div class="container-fuild">
<div class="row">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/banner-6.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/cowin-portal.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/CoWIN.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
        </div> 

 <div class="row bg-dark text-light py-5">
   <div class="col-2">
     Support for COVID-19 |
   </div>
   <div class="col-2">
     Health Ministry <br> +91-11-23978046 or 1075
   </div>
   <div class="col-2"> Child <br>
     1098
   </div>
   <div class="col-2">
     Mental Health<br>
     08046110007
   </div>
<div class="col-2">
  Senior citizens<br>
  14567
</div>
<div class="col-2">
  NCW<br>
  7827170170
</div>
 </div>

 <app-vaccine-count></app-vaccine-count>
 <app-search-center></app-search-center> <br>
 <app-whatsnew></app-whatsnew>
 <app-raise-issue></app-raise-issue>
 <app-vaccine-steps></app-vaccine-steps>
 <app-faq></app-faq>
 <app-summary-comp></app-summary-comp>
 <app-our-partner></app-our-partner>