<div class="container">
    <h1 class="step">Get Vaccinated in 3 Easy Steps</h1>
    <div class="row">
        <div class="col-4">            1--------------------------------------------</div>
        <div class="col-4">----------------------2---------------------------</div>
        <div class="col-4">---------------------------------3</div>
           </div>
        <div class="row">
            <div class="col-4">          
            <p>Book an Appointment On
                CoWIN or Walk Into Any
                Vaccination Center</p>
            </div>

            <div class="col-4">
                <p>Get Your Vaccination
                    Safely at the Time of Your
                    Appointment</p>
            </div>

            <div class="col-4">
                <p>Download Your Vaccination
                    Certificate from CoWIN
                    and Wait for Dose #2</p>
            </div>
            </div>
             <div class="row">
                <div class="col-4">
                    <img src="../../../assets/step-2.jpg">
                </div>
                <div class="col-4">
                    <img src="../../../assets/step-1.jpg">
                </div>
                <div class="col-4">
                    <img src="../../../assets/step-3.jpg">
                </div>
            </div>
        </div>