<div class="container-fluid my-5">
    <div class="row">
      <div class="col-6">
        <img src="../../../assets/internationalcertificate.svg">
      </div>
      <div class="col-6">
        <h1>International Travel Certificate</h1>
        <p style="font-size: 23px;font-family:'Times New Roman', Times, serif ;">Ready to travel the world? Complete your vaccination and get a certificate now.
        </p>
        <div class="row ">
          <div class="col-6">
        <button class="btn btn-outline-primary" >How to Download</button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary">Get Certificate</button>
      </div>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Raise An Issue</h1>
        <h6>Raise an issue or get solutions to your CoWIN account and vaccination certificate related issues instantly..</h6>
     <div class="row"style="font-Weight:bold">
       <div class="col-6">
     <a routerLink="#">Certificate correction</a> 
       </div>
       <div class="col-6">
         <a href="#">Add Password</a>
       </div>
       <div class="col-6">
        <a routerLink="#"> Report Unknown Member</a>
       </div>
       <div class="col-6">
         <a routerLink="#">Merge Certificates</a>
       </div>
     </div>
    </div>
     <div class="col-6">
      <img src="../.././../assets/new-callcenter-amico.svg">
     </div>
      
    </div>
  </div>
