<div class="container-fluid">
    <div class="row count">
        <div class="col-1">
            <img src="../../../assets/vaccine-img.jpg">
            </div>
            <div class="col-5">
            <b>Total Vaccination Doses</b><br>
            <h6>India marches beyond 1 Billion Vaccine doses</h6>
        </div>
    
        <div class="col-1">
            <img src="../../../assets/vaccine-1.jpg">
            </div>
            <div class="col-5">
          <b>  Vaccinations Done Today</b>
          <img src="../../../assets/count-img.png" class="countimg">
          <h6>India sets world record of 2.5 Cr+ Vaccinations in a day</h6>
        </div>
    </div>
</div>
