
<div class="container-fluid summary">
    <div class="row py-4">
        <div class="col-2"></div>
        <div class="col-8">
        <h2>India Is Running The World’s Largest Vaccination Drive</h2>
    </div>
    <div class="col-2"></div>
</div>
        <div class="row">
            <div class="col-6">
                <img src="../../../assets/graph-2.png" style="width: 300px;">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12" >Vaccines Delivered
                        <p> <b style="font-size: 30px;">1,11,00,51,768</b> + 53.67 lakhs</p>
                    </div>
                    <div class="col-12">Citizen Fully Vaccinated
                   <p> <b style="font-size: 30px;">36 Crore  + </b>39.46 lakhs</p>
                    </div>
                    <div class="col-12">% of Fully Vaccinated <br>
            <p >
                <b style="font-size: 30px;">48.11% </b></p></div>
                    <div class="col-12">
                        <button class="button">
                            <a routerLink="Dashboard">View Vaccination Dashboard</a></button>
                    </div>
                </div>
            </div>
</div>