.box{
    border: 1px solid black;
    background-color: cornsilk;
    width: 400px;

}
input{
    width: 350px;
}
h4{
    color: darkslateblue;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-top: 30px;

}